body {
    color: #333;
}

.content {
    max-width: 400px;
}

.cards-form-widget {
    display: flex;
}

#cards-input {
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-right: 0.5rem;
}

button {
    text-align: center;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    border-radius: .25rem;
    border: 1px solid #ced4da;
    background-color: #5eb462;
    color: #fff;
}

.cards {
    margin-bottom: 0.5rem;
    display: flex;
    width: 70%;
}

.inactive {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.Visa {
    position: relative;
    height: 1.25rem;
    width: 14%;
    color: rgb(158, 225, 177);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("/public/visa.png");
}

.MasterCard {
    height: 1.25rem;
    width: 14%;
    color: rgb(158, 225, 177);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("/public/mastercard.png");
}


.AmericanExpress {
    height: 1.25rem;
    width: 14%;
    color: rgb(158, 225, 177);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("/public/american_express.png");
}

.Discover {
    height: 1.25rem;
    width: 14%;
    color: rgb(158, 225, 177);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("/public/discover.png");
}

.DinersClub {
    height: 1.25rem;
    width: 14%;
    color: rgb(158, 225, 177);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("/public/diners_club.png");
}

.JCB {
    height: 1.25rem;
    width: 14%;
    color: rgb(158, 225, 177);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("/public/jcb.png");
}

.MIR {
    height: 1.25rem;
    width: 14%;
    color: rgb(158, 225, 177);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("/public/mir.png");
}

.div {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  border: 1px solid red;
}

img {
  width: 100px;
}
